@font-face {
  font-family: 'LeagueGothic';
  src: url('../fonts/League_Gothic-webfont.eot?') format('eot'), url('../fonts/League_Gothic-webfont.woff') format('woff'), url('../fonts/League_Gothic-webfont.ttf') format('truetype');
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	overflow: hidden;
}

header {
	width: 100%;
	height: 100px;
	background: #181818 url('../img/header_1px.png') bottom repeat-x;
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	text-align: center;
}

#logo, #title, nav {
	//display: inline-block;
	vertical-align: top;
	position: relative;
}

#logo {
	float: left;
	height: 60%;
}

#title {
	display: block;
}

h1 {
	font: 54px 'LeagueGothic', helvetica, tahoma, sans-serif; 
	color: #fff;
	text-shadow: 1px 2px 2px #2d84db;
	margin: 0px;
	line-height: 100%;
}

h2 {
	font: 13px helvetica, tahoma, sans-serif;
	color: rgb(45,166,222); 
	margin: 0px;
	letter-spacing: 1px;
	line-height: 100%;
}

nav ul li, nav ul {
	font: 12px helvetica, tahoma, sans-serif;
	list-style: none;
	color: #fff;
	margin: 1.0em 0em;
	padding: 0px;
	display:inline;
}

nav a:link	  , #download a:link	{ color:#fff; }
nav a:visited , #download a:visited { color:#fff; }
nav a:hover   , #download a:hover   { color:rgb(45,166,222); }
nav a:active  , #download a:active  { color:rgb(45,166,222); }

#btnFullScreen {
	float: right;
	position: absolute;
	width: 40px;
	height: 40px;
	top: 25px; 
	right: 25px;
//	background:url("/img/btnFsSprite.png") 0px 0px no-repeat;
}

#full-slider {
	width: auto;
	height: 600px; /*default, is dynamic*/
}

#content {
	text-align: center;
	overflow: auto;
}

.royalSlider,
.royalSlider .rsOverflow,
.royalSlider .rsSlide,
.royalSlider .rsVideoFrameHolder,
.royalSlider .rsThumbs,
.roaylSlider .rsABlock,
.rsMinW,
.rsContent {
    background: #222 !important;	
}


.rsABlock {
	position: relative !important;
	//text-align: center;
}

.mainText {
	font: 60px helvetica, tahoma, sans-serif; 
	color: #fff;
	margin: 25px;
	display: block;
	line-height: 120%;

}

.smallText {
	font: 36px helvetica, tahoma, sans-serif;
	color: #fff;
	margin: 25px;
	display: block;
	line-height: 120%;
}

.subText {
	font: 48px 'LeagueGothic', helvetica, tahoma, sans-serif;
	color: #666;
	margin: 25px;
	display: block;
	line-height: 80%;
}

.largeText {
	font: 80px helvetica, tahoma, sans-serif; 
	color: #fff;
	margin: 25px;
	display: block;
	line-height: 120%;
}

.tightText {
	margin-top: -20px !important;
}

.highlight {
	background: rgb(45,166,222);
	padding: 0 0.2em;

}

.recolor {
	color: rgb(45,166,222);
}

.smallText a:link	, #download a:link	  { color:#fff; }
.smallText a:visited , #download a:visited { color:#fff; }
.smallText a:hover   , #download a:hover   { color:rgb(45,166,222); }
.smallText a:active  , #download a:active  { color:rgb(45,166,222); }


/* ===================== */
/* = RESPONSIVE DESIGN = */
/* ===================== */

/* Dektop-Large */
@media ( min-width: 1025px) { 
	header { height: 200px; }
		h1  { font-size: 100px; }
		h2  { font-size: 27px; letter-spacing: 0px }
		#title { display: block; padding: 15px 0px;}
		nav ul li { font-size: 17px; padding: 0px 25px }
		#btnFullScreen { top: 25px; right: 25px; }
}

/* Desktop-Small + Laptop */
@media (min-width: 769px) and (max-width: 1024px){
	header { height: 150px; }
		h1  { font-size: 67px; }
		h2  { font-size: 17px; letter-spacing: 1px }
		#title { display: block; padding: 12px 0px;}
		nav ul li { font-size: 13px; padding: 0px 13px }
		#btnFullScreen { top: 17px; right: 17px; }
}

/* Device-Landscape */
@media (max-width: 768px) and (orientation: landscape){
	header { height: 80px; }
		h1  { font-size: 50px; }
		h2  { font-size: 12px; letter-spacing: 1px }
		#title { display: inline-block; padding: 3px 0px;}
		nav { display: inline-block; }
		nav ul li { font-size: 12px; padding: 0px 13px; display: block; margin: 0.6em 0em}
		/*#btnFullScreen { width: 25px; height: 25px; top: 7px; right: 7px; }*/
		#btnFullScreen { opacity: 0; }
}

/* Device-Portrait */
@media (max-width: 768px) and (orientation: portrait){
	header { height: 150px; }
		h1  { font-size: 50px; }
		h2  { font-size: 12px; letter-spacing: 1px }
		#title { display: block; padding: 20px 0px;}
		nav ul li { font-size: 13px; padding: 0px 12px }
		/*#btnFullScreen { width: 25px; height: 25px; top: 23px; right: 7px; }*/
		#btnFullScreen { opacity: 0; }
}